<h2>Par Sheets</h2>

    <div class="buttons">
      <a href="/par_sheets" class="btn primary">View Par Sheets</a>
      <a href="/par_sheets/new" class="btn default">New Par Sheet</a>
    </div>
<br>
<%= link_to 'Back', '/', class: "btn small left" %>