<div class="starter-template">
  <h1>Moschella Provisions</h1>
    <div class="lead">
      <a href="/inventorymain" class="btn primary">Inventory</a>
      <a href="/par_levels" class="btn primary">Par Levels</a>
      <a href="/products" class="btn primary">Products</a>
    </div>
</div>