<p id="notice"><%= notice %></p>

<h1>Inventory</h1>

    <div class="buttons">
      <a href="/inventorysessions/new" class="btn primary">Take Inventory</a>
      <a href="/inventories" class="btn default">View Past Inventory Info</a>
    </div>
