<p>
  <strong>Product:</strong>
  <%= @par_level.product.bhproduct_number %>
</p>

<p>
  <strong>Parlevel:</strong>
  <%= @par_level.parlevel %>
</p>

<%= link_to 'Edit', edit_par_level_path(@par_level) %> |
<%= link_to 'Back', par_levels_path %>
