body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a.btn {
  color: #fff;
  background-color: #666;
  display: block;
  width: 300px;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    color: #fff;
    background-color: #000;
  }
  &.small{
    width: initial;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 3px 0px 3px 0px;
    &.negative{
      background: #fff;
      border: 1px solid red;
      color: red;
      &:hover{
        background: #bbb;
      }
    }
    &.left{
        display: initial;
      }
  }
  &.x-small{
    width: initial;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top:2px;
    &:hover{
        background: #bbb;
      }
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
th{
  background: #5B9BD5;
  color: #FFF;
}
tr{
  &.odd{
    background: #DDEBF7;
  }
  &.even{
    background: #FFF;
  }
}
table.details{
   th{
       padding: 4px 20px 3px 10px;
   }
   tr{
     td{
       padding: 4px 20px 3px 10px;
     }
   }
}
.actions{
  input{
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 2px 12px;
    background: #666;
    &:hover{
        background: #000;
      }
  }
}
.linkcontainter{
  &.left{
    float: "left";
    margin-top: 8px;
  }
}